@page "/"
@using FrontEnd.Models
@using FrontEnd.Services
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Components.QuickGrid

@inject IPlaceService PlaceService;
@inject IUserService UserService;

<PageTitle>Home</PageTitle>

<EditForm EditContext="editContext" OnSubmit="Submit" FormName="Starship4">
    <DataAnnotationsValidator />
    <div>
        <label>
            Adresse:
            <InputText @bind-Value="address" />
        </label>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</EditForm>

<p>@_status</p>

@if(trips.Count > 0)
{
    <QuickGrid Items="trips.AsQueryable()" Class="table table-hover table-bordered table-striped">
    <PropertyColumn Property="@(t => t.User)" Sortable="true" />
    <PropertyColumn Property="@(t => t.Place)" Sortable="false" />
    <PropertyColumn Property="@(t => t.time)" Sortable="true" IsDefaultSortColumn="true" />
</QuickGrid>


} else {
    <p><em>Loading Addresses</em></p>
}


@code {
    [SupplyParameterFromForm]
    private string address { get; set; } = "";

    private string _status = "Please enter an address";

    private bool _placesLoaded = false;

    private EditContext? editContext { get; set; }

    private List<TripViewModel> trips = new List<TripViewModel>();


    protected override void OnInitialized()
    {
        editContext = new(address);
        LoadPlaces();
        Console.WriteLine("Initialization finished");
    }

    private async void LoadPlaces()
    {
        Console.WriteLine("Start getting places");

        var places = await PlaceService.GetAllPlacesAsync();

        foreach (Place place in places)
        {
            var user = new User(place.UserId, $"Loading Name ({place.UserId})");
            var trip = new TripViewModel()
                {
                    User = user,
                    Place = place
                };
            _ = UserService.GetUserAsync(user.Id).ContinueWith(task => {
                trip.User = task.Result;
                StateHasChanged();
            }            );

            trips.Add(trip);
        }
        StateHasChanged();
        _placesLoaded = true;

        //var places = await Http.GetFromJsonAsync<Place[]>("sample-data/SoViPlaces.json");

        Console.WriteLine("Places finished");
    }

    private async void Submit()
    {
        Console.WriteLine(address);

        // TODO: Add validation

        while (!_placesLoaded)
        {
            _status = "Wait to load all places";
            await Task.Delay(100);
        }

        _status = "Loading times";

        IEnumerable<Task> tasks = trips.Select(trip =>
        {
            return PlaceService.GetTripTimeAsync(trip.Place.Id, address).ContinueWith(task => {
                trip.time = task.Result;
                StateHasChanged();
            });
        });

        await Task.WhenAll(tasks);

        _status = "All times loaded";
    }

    protected class TripViewModel
	{
		public required User User { get; set; }
		public required Place Place { get; set; }
		public TimeSpan? time { get; set; }
	}
}