@page "/"
@using FrontEnd.Models
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject IHttpClientFactory ClientFactory

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (!string.IsNullOrEmpty(user?.DisplayName))
{
    <p>Thimos Name: @user.DisplayName</p>
} 

@code {
    private User? user;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var client = ClientFactory.CreateClient("GraphAPI");

            user = await client.GetFromJsonAsync<User>($"users/045df388-1ead-4ad2-8f5c-ff4c4d71b55e?$select=displayName");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}