@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inject IWebAssemblyHostEnvironment hostEnv
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">

@if (hostEnv.IsDevelopment())
            {

                <FrontEnd.LocalAuthentication.LocalIdentitySwitcher />
            }
else 
{
            <LoginDisplay />
}
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
